
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ServiUAPT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="ion-padding">
  <p>BIEVENIDO</p>
  <!-- Contenido de la página -->
  <ion-tabs mode="android">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="alta-alumno">
        <ion-icon name="person"></ion-icon>
        Alumno
      </ion-tab-button>
      <ion-tab-button tab="horas">
        <ion-icon name="time"></ion-icon>
        Horas
      </ion-tab-button>
      <ion-tab-button tab="actividades">
        <ion-icon name="document"></ion-icon>
        Actividades
      </ion-tab-button>
      <ion-tab-button tab="reportes">
        <ion-icon name="folder"></ion-icon>
          Reportes
      </ion-tab-button>
      <ion-tab-button tab="configuracion">
        <ion-icon name="cog"></ion-icon>
          Configuración
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

