ion-content{
  --background:#F8F9F9;

}

ion-toolbar{
  --background: #2C5234;
  --border-width: 0;
  /* Reemplaza #ff0000 con el color que desees */

}

ion-title{
  --color:white;
  font-weight: bold;
  font-size: 22px;

}

ion-menu-button{
  --color:#F8F9F9;

}

